# Emacs backups
*~

# Compilations
*.o
*.a

# Scratch
runtime/cilk_types.h
*.t

# Exes
handcomp_test/fib
handcomp_test/fib_serial
handcomp_test/fib_cilkplus
handcomp_test/mm_dac
handcomp_test/mm_dac_serial
handcomp_test/mm_dac_cilkplus

# Future proofing
*.so
*.so.*